/* CSS Document */
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
td, tr, th, tbody, table{
	padding : 0;
	border-radius: 0;
}
html {	
	font-size:62.5%;
	line-height: 1;
	background-image: url(../images/handle.svg);
	background-size: 2rem 2rem;
	background-position: bottom right;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
html, body {
	box-sizing: border-box;
	height: 100%;
	cursor: default;
}
::-webkit-scrollbar, scrollbar {
	width: 0; 
	height: 0;
}
div,
.quantity input{
   -ms-user-select: none; 
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
	vertical-align: middle;
}
.hidden {
    display: none;
}

/* 상단바 */
.time{
	font-size: 3rem;
	padding: 0 1rem;
	text-align: center;
	vertical-align: middle;
	font-family: 'Montserrat';
}
.info{
	padding:0;	
	line-height: 0;
}
.bigText{
	font-size:1.2rem;
	line-height: 1.2rem;
	margin-top:.2rem;
}
.smallText{
	font-size:1.2rem;
	line-height: 1.2rem;
	padding-top:.2rem;
}
.navbar_text{
	overflow: hidden;
	white-space: nowrap;
	width: auto;
	position: fixed;
	left:0;
}

/* 설정 페이지 */
ul.dropdown-content div{
 padding: 0 1.6rem;
 height: 5rem;
 line-height: 5rem;
 font-size: 1.6rem;
}
ul.dropdown-content div i{	
 height: 5rem;
 line-height: 5rem;
}
.contents{
	background: #303030;
}
.tile{
	width: 100%;
	padding: 1.6rem;
	vertical-align: middle;
	cursor: pointer;	
	-webkit-tap-highlight-color:transparent;
	display: inline-block;
	line-height: 1.5;
}
.TitleText{
	color : rgba(255,255,255,0.7);
	font-size: 1.2rem;
	padding : 1.6rem;
}
.PrimaryText{
	color : rgba(255,255,255,1);
	font-size: 1.4rem;
}
.SecondaryText{
	color : rgba(255,255,255,0.7);
	font-size: 1.2rem;
	padding-top: .4rem;
	white-space: pre-line;
}
.topbarText{	
	color : rgba(255,255,255,1);
	font-size: 1.6rem;	
	padding-left: 2rem;
}
.rangeText{
	position: absolute;
	color:rgba(255,255,255,0.12);
}

.iconText i{
	color : rgba(255,255,255,0.38);
	float: left;
}
.circle img{
	width:4.5rem;
	height: 4.5rem;
	padding : 1rem ;
}
/* 메인 데이터 테이블 */
#wrap{
	clear:both; 
    width:100%;
    position:relative;  /* 스크롤 메뉴 고정 핸들을 위함 */
	overflow-x:hidden;
	overflow-y:auto;
}
.tableHeader,
.tableBody {
	width: 100%;	
	color:#fff;
	table-layout: fixed;
	border-collapse: collapse;
	z-index: 5; 
}
.tableBody {	
	position: absolute;
	z-index: 4; 
}
.tableBody td{
	text-shadow: 0 0 .3rem #000;
	font-size: 1.2rem;
	line-height: 0;
	height: 2rem ; 
}
.tableHeader td{	
	font-size: 1.1rem;
	font-family: 'Roboto Condensed';
	height: 1.5rem;
}
.bar{
	position: absolute;
	z-index: 2;
	height: 2rem; 
}
.barHeal, .barDeal{
	height: 2rem;
	position: relative;
}
.barBg{
	z-index: 1;
	width: 100%;
	height: 2rem; 	
}
#hpsTableHeader, #hpsRaidTable{
	margin-top: 2rem;
}
.narrowCell1, .narrowCell2, .timeCell,
.wideCell1, .wideCell2, .nameCell, .iconCell, .viewCell{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: clip;
	text-align: center;
	vertical-align: middle;
} 
.iconCell{
	width :2.2rem;
}
.viewCell{
	width : 2.8rem;
}
.nameCell{
	width : 100%;
	text-align: left;
	padding-left: .2rem;
}
.pngIcon{
	width: 1.8rem;
	height: 1.8rem;
}
#historyListBody table:hover{
	cursor: pointer;
}
/* 프리뷰 */
#previewH td,#previewB td {
	border: solid .1rem #000;
}
#previewB td{	
	border-top: 0;
}
#previewB{	
	position: static;
}
.previewImage{
	padding : 1.6rem;	
	margin : 1.6rem;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
}

/* 셀 너비 조정 */
.quantity input {
  width: 4rem;
  text-align:center;
  font-size : 2rem;
  margin: 0 1rem;
  font-family: 'Montserrat';
}
td.quantity{	
  overflow: hidden;
  white-space: nowrap;
  table-layout: fixed;
}


/* 공지사항 클릭 시 */
.collapsible li:hover, .collapsible li.active, 
.collapsible-header li.active:hover, .collapsible-header.active:hover
{
 	outline: none;
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}

/* 24인 */
.divBody{
	table-layout: fixed;
}
.borderline {
	border-right: 1px solid rgba(255,255,255,0.12);
}
.userbox{
	font-size: 1.2rem;	
	text-shadow: 0 0 .3rem #000;
	line-height: 1.4rem;
}
.raidName{
	width:100%;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:clip;
}
.value{
	text-align: right;
	font-size: 1.2rem;
	padding-right: .25rem;
}
.raid .collapsible-header.row .col{
	padding : 0;
}
.raid .collapsible-body.row .col{
	padding: 0 .25rem 0 .5rem;
	font-family: "Roboto Condensed";
	font-size: 1.1rem;
}
.row .col.s13 {
    width: 20%;
    margin-left: auto;
    left: auto;
    right: auto;
}
/* 애니메이션 */
.animated {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}